@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers */
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
